:root {
    --primary-color: #FFC107; /* Янтарный цвет для основных элементов */
    --hover-color: #E0A106; /* Цвет при наведении */
    --text-color: #f0f0f0; /* Светло-серый для текста */
    --background-color-dark: rgba(0, 0, 0, 0.75); /* Темный фон для контейнеров */
    --link-color: #BBDEFB; /* Светло-голубой для ссылок */
    --link-hover-color: #FFC107; /* Цвет ссылок при наведении */
    --border-color: #ccc; /* Цвет границ */
    --font-family-base: 'Arial', sans-serif; /* Базовый шрифт */
    /* Переменные Pico CSS (если они не конфликтуют с вашими) */
    --primary: var(--primary-color);
    --primary-hover: var(--hover-color);
    --color: var(--text-color);
    --background-color: var(--background-color-dark);
    --link-color: var(--link-color);
    --link-hover: var(--link-hover-color);
    --border: var(--border-color);
    --font-family: var(--font-family-base);
}
body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://i.imgur.com/grCsq3o.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E0E0E0;
}
.container-fluid {
    width: 100%; /* Растягиваем на всю ширину */
    background-color: var(--background-color-dark);
    padding: 20px;
    margin: 0; /* Убираем автоматические отступы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Элементы выравниваются по краям */
    align-items: center;
}
.container {
    width: 100%;
    max-width: 960px; /* Ограничение максимальной ширины */
    background-color: var(--background-color-dark);
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
nav ul li {
    margin-right: 20px; /* Уменьшаем правый отступ */
}
.nav-item:last-child {
    margin-right: 0; /* У последнего элемента нет правого отступа */
}
nav ul li a, .button-style, button {
    padding: 5px 10px; /* Уменьшаем padding */
    border-radius: 3px; /* Уменьшаем радиус границы */
}
nav ul li a {
    color: var(--link-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover, nav ul li a:focus {
    background-color: var(--link-hover-color);
    color: #000;
}
.button-style, button {
    background-color: var(--primary);
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.button-style:hover, button:hover {
    background-color: var(--primary-hover);
}
#map {
    height: 400px;
    width: 100%;
    max-width: 960px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.subscription-form {
    display: flex;
    flex-direction: column; /* Stack elements vertically on mobile */
    gap: 10px; /* Space between form elements */
    padding: 20px 0; /* Padding on top and bottom of form */
}
.subscription-form input[type="text"],
.subscription-form input[type="email"] {
    background-color: var(--background-color-dark); /* Dark background for input fields */
    color: var(--text-color); /* Light text color for input text */
    border: 1px solid var(--border-color); /* Border color from variables */
    margin-bottom: 10px; /* Margin below each input */
}
.subscription-form button {
    background-color: var(--primary-color); /* Primary color for button */
    color: var(--text-color); /* Light text color for button text */
    border: none; /* No border for button */
    cursor: pointer; /* Cursor as pointer to indicate button */
    transition: background-color 0.3s ease; /* Transition for background color change on hover */
}
.subscription-form button:hover {
    background-color: var(--hover-color); /* Hover color for button */
}
footer small a {
    color: var(--link-color);
    text-decoration: none;
}
footer small a:hover {
    color: var(--link-hover-color);
}
.main, .grid, section, article {
    
    margin: 0;
    padding: 20px;
}
footer.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
article {
    box-shadow: var(--card-box-shadow);
    margin: var(--block-spacing-vertical) 0;
    padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
    border-radius: var(--border-radius);
    background: var(--card-background-color);
}
article {
    display: block;
}
html, body {
    overflow-x: hidden;
  }
@media (min-width: 576px) {
    
    .container, .container-fluid {
        padding: 15px; /* Уменьшаем padding для устройств среднего размера */
    }
    nav ul {
        flex-direction: row; /* Возвращаем навигацию в горизонтальное положение */
        justify-content: space-between; /* Распределяем элементы навигации */
    }
    nav ul li {
        margin-right: 10px; /* Уменьшаем отступ справа для элементов навигации */
    }
    .subscription-form input[type="text"],
    .subscription-form input[type="email"] {
        flex-grow: 2; /* Поля ввода занимают больше пространства */
        min-width: 150px; /* Минимальная ширина, чтобы гарантировать видимость */
        margin-right: 10px; /* Отступ справа */
    }
    .subscription-form button {
        flex-grow: 1; /* Кнопка занимает меньше места, чем поля ввода */
        min-width: 100px; /* Минимальная ширина кнопки */
        margin-left: 10px; /* Отступ слева */
    }
    .subscription-form button {
        white-space: nowrap; /* Предотвращаем перенос текста кнопки на новую строку */
    }
    #map {
        height: 300px; /* Устанавливаем промежуточную высоту для карты */
    }
    /* Другие стили, специфичные для этого диапазона */
}
@media (max-width: 767px) {
    .container, .container-fluid {
        padding: 10px; /* Уменьшаем padding для меньших устройств */
    }
    nav ul {
        flex-direction: column; /* Ставим элементы навигации друг под другом */
        width: 100%; /* Растягиваем на всю ширину */
    }
    nav ul li, .subscription-form input, .subscription-form button {
        width: 100%; /* Растягиваем на всю ширину */
        margin-bottom: 10px; /* Добавляем отступ снизу */
    }
    .subscription-form {
        flex-direction: column; /* Ставим элементы формы друг под другом */
    }
    #map {
        height: 200px; /* Уменьшаем высоту карты */
    }
}
@media (min-width: 768px) {
    .subscription-form {
        flex-direction: row; /* Align form elements horizontally on desktop */
        justify-content: space-between; /* Space out form elements evenly */
    }
    .subscription-form input[type="text"],
    .subscription-form input[type="email"] {
        margin-bottom: 0; /* Remove bottom margin for inputs on desktop */
        margin-right: 10px; /* Space to the right of inputs */
    }
    .subscription-form button {
        margin-left: 10px; /* Space to the left of the button */
    }
}
@media (min-width: 1024px) {
    /* Здесь могут быть стили, которые будут применяться только на больших экранах */
}