 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/55ae1de394086ad13fcffa3e09674823.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1011px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 308px;
  height: 335px;
  margin: 637px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -892px auto 4px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 515px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 39px 6px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 366px;
}

.u-section-1 .u-image-2 {
  width: 486px;
  height: 310px;
  margin: 1px auto 25px 39px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/8c7821975b9b853a18a58eb8ddc1b6cb.jpeg");
  min-height: 516px;
  background-position: 50% 50%;
}

.u-section-1 .u-line-1 {
  width: 245px;
  transform-origin: right center 0;
  margin: 160px auto 50px -163px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 365px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 254px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    line-height: 66px;
  }

  .u-section-1 .u-image-2 {
    width: 401px;
    margin-left: 32px;
  }

  .u-section-1 .u-line-1 {
    width: 202px;
    margin-left: -135px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 195px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-image-2 {
    width: 307px;
    margin-left: 25px;
  }

  .u-section-1 .u-line-1 {
    width: 155px;
    margin-left: -103px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1866px;
  }

  .u-section-1 .u-image-1 {
    width: 182px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-image-2 {
    width: 288px;
    margin-left: 18px;
  }

  .u-section-1 .u-line-1 {
    width: 145px;
    margin-left: -77px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2028px;
  }

  .u-section-1 .u-image-1 {
    width: 308px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    line-height: 1.4;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-1 .u-image-2 {
    width: 308px;
    height: 331px;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    min-height: 498px;
  }

  .u-section-1 .u-line-1 {
    width: 122px;
    margin-left: -49px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 479px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 51px;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 954px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 432px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 783px;
  height: 416px;
  margin: -48px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 384px;
  margin: -800px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 40px;
}

.u-section-2 .u-group-2 {
  width: 357px;
  min-height: 354px;
  margin: 48px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 71px 20px 0;
}

.u-section-2 .u-shape-1 {
  width: 495px;
  height: 14px;
  margin: 33px auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 625px;
  min-height: 68px;
  margin: -33px 0 26px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
  }

  .u-section-2 .u-image-2 {
    width: 646px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-group-2 {
    width: 294px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-shape-1 {
    width: 408px;
  }

  .u-section-2 .u-group-3 {
    width: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
  }

  .u-section-2 .u-image-2 {
    width: 495px;
  }

  .u-section-2 .u-group-1 {
    width: 360px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-2 {
    margin-top: 412px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 100px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-1 {
    width: 543px;
    margin-top: -452px;
  }

  .u-section-2 .u-group-3 {
    width: 495px;
    margin-top: 60px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1527px;
  }

  .u-section-2 .u-image-1 {
    width: 464px;
    height: 324px;
    margin-top: 391px;
  }

  .u-section-2 .u-image-2 {
    width: 464px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1076px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 35px;
  }

  .u-section-2 .u-group-2 {
    min-height: 292px;
    margin-top: 794px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 55px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-shape-1 {
    width: 293px;
    margin-top: -462px;
  }

  .u-section-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-2 .u-image-1 {
    width: 316px;
    height: 282px;
    margin-top: 433px;
  }

  .u-section-2 .u-image-2 {
    width: 324px;
    height: 228px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -888px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-group-2 {
    min-height: 293px;
    margin-top: 588px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 28px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-shape-1 {
    width: 246px;
    margin-top: -320px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -89px;
    margin-bottom: 377px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 833px;
}

.u-section-3 .u-shape-1 {
  height: 425px;
  width: 471px;
  margin: 92px 669px 0 0;
}

.u-section-3 .u-image-1 {
  width: 474px;
  height: 402px;
  margin: -456px auto 0 45px;
}

.u-section-3 .u-image-2 {
  width: 449px;
  height: 342px;
  margin: -64px auto 0 282px;
}

.u-section-3 .u-image-3 {
  width: 394px;
  height: 254px;
  margin: -507px 60px 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 193px;
  width: 591px;
  margin: -427px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0;
}

.u-section-3 .u-group-2 {
  width: 473px;
  min-height: 303px;
  margin: 246px 0 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 37px 20px 0;
}

.u-section-3 .u-group-3 {
  width: 519px;
  min-height: 75px;
  margin: -286px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 11px;
  height: 293px;
  margin: -531px auto 85px 552px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-3 .u-shape-1 {
    width: 388px;
    margin-right: 552px;
  }

  .u-section-3 .u-image-1 {
    width: 391px;
    margin-left: 37px;
  }

  .u-section-3 .u-image-2 {
    width: 370px;
    margin-left: 233px;
  }

  .u-section-3 .u-image-3 {
    width: 376px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 173px;
    width: 476px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-3 .u-group-2 {
    width: 390px;
    margin-top: 266px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-group-3 {
    width: 428px;
  }

  .u-section-3 .u-shape-2 {
    width: 9px;
    margin-left: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-3 .u-shape-1 {
    height: 314px;
    width: 348px;
    margin-top: 312px;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 376px;
    height: 326px;
    margin-top: -371px;
    margin-left: 28px;
  }

  .u-section-3 .u-image-2 {
    width: 283px;
    margin-top: -23px;
    margin-left: 114px;
  }

  .u-section-3 .u-image-3 {
    width: 284px;
    margin-top: -447px;
  }

  .u-section-3 .u-group-1 {
    width: 707px;
    margin-top: -664px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 32px;
    padding-right: 38px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 299px;
    min-height: 320px;
    margin-top: 505px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-group-3 {
    width: 402px;
    min-height: 84px;
    margin-top: -117px;
  }

  .u-section-3 .u-shape-2 {
    width: 14px;
    height: 161px;
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1447px;
  }

  .u-section-3 .u-shape-1 {
    height: 300px;
    width: 330px;
  }

  .u-section-3 .u-image-1 {
    width: 427px;
    height: 330px;
    margin-top: -391px;
    margin-left: 38px;
  }

  .u-section-3 .u-image-2 {
    width: 279px;
    height: 345px;
    margin-top: -101px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 415px;
    height: 251px;
    margin-top: 66px;
  }

  .u-section-3 .u-group-1 {
    min-height: 163px;
    width: 534px;
    margin-top: -1069px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 28px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 266px;
    margin-top: 925px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-group-3 {
    min-height: 74px;
    margin-top: -619px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 6px;
    margin-top: -807px;
    margin-bottom: 1242px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1423px;
  }

  .u-section-3 .u-shape-1 {
    height: 295px;
    width: 273px;
    margin-top: 266px;
  }

  .u-section-3 .u-image-1 {
    height: 268px;
    width: 314px;
    margin-top: -311px;
    margin-right: 6px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 223px;
    margin-top: -112px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    height: 271px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 207px;
    width: 326px;
    margin-top: -987px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .u-section-3 .u-group-2 {
    min-height: 359px;
    margin-top: 804px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-group-3 {
    width: 346px;
    margin-top: -752px;
    margin-right: auto;
    margin-left: -6px;
  }

  .u-section-3 .u-shape-2 {
    width: 5px;
    margin-top: -669px;
    margin-bottom: 1195px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 595px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 90px auto 90px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-1 {
  width: 40px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 30px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 416px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-2 {
  width: 40px;
  height: 7px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 37px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 49px;
    margin-right: 59px;
    position: relative;
  }

  .u-section-4 .u-line-1 {
    width: 33px;
    margin-top: 37px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-btn-1 {
    position: relative;
    margin-bottom: 47px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 49px;
    position: relative;
  }

  .u-section-4 .u-line-2 {
    width: 33px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 560px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 37px;
    margin-left: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 25px;
    height: 7px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 56px;
    margin-bottom: 9px;
    margin-left: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 38px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 38px;
  }

  .u-section-4 .u-line-2 {
    width: 25px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 52px;
    margin-left: 20px;
  }

  .u-section-4 .u-line-1 {
    width: 23px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 85px;
    margin-left: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 28px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 28px;
  }

  .u-section-4 .u-line-2 {
    width: 24px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 52px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    width: 20px;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 44px;
    margin-bottom: 52px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 10px;
    margin-right: 20px;
  }

  .u-section-4 .u-line-2 {
    width: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 20px;
  }

  .u-section-4 .u-btn-2 {
    margin-bottom: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 798px;
  margin: 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 84px auto 67px 0;
}

.u-section-5 .u-image-1 {
  min-height: 391px;
  background-image: url("images/b0a97a7ddda86bffd952acec7d58c9c4.jpeg");
  background-position: 0% 50%;
}

.u-section-5 .u-shape-1 {
  width: 11px;
  height: 293px;
  margin: 223px auto -155px 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 322px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 48px;
}

.u-section-5 .u-text-1 {
  margin: 48px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 256px;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 60px;
  padding-left: 60px;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: 18px 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 457px;
}

.u-section-5 .u-shape-2 {
  height: 300px;
  width: 509px;
  margin: 45px 0 0 auto;
}

.u-section-5 .u-image-2 {
  width: 509px;
  height: 299px;
  margin: -345px auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 519px;
  min-height: 75px;
  margin: 53px auto 0 -10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 397px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-shape-1 {
    width: 9px;
    margin-left: 16px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 16px;
    margin-right: 20px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 270px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 35px;
    padding-left: 49px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 505px;
  }

  .u-section-5 .u-shape-2 {
    width: 420px;
  }

  .u-section-5 .u-image-2 {
    width: 420px;
  }

  .u-section-5 .u-group-1 {
    width: 428px;
    margin-left: -8px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    min-height: 391px;
  }

  .u-section-5 .u-shape-1 {
    width: 7px;
    margin-left: 13px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 32px;
    margin-right: 48px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 179px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 27px;
    padding-left: 38px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 578px;
  }

  .u-section-5 .u-shape-2 {
    height: 326px;
    width: 567px;
  }

  .u-section-5 .u-image-2 {
    width: 591px;
    height: 326px;
    margin-top: -371px;
    margin-right: 45px;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    width: 567px;
    min-height: 49px;
    margin: 45px 0 7px auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-5 .u-shape-1 {
    width: 6px;
    margin-left: 9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 23px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 46px;
    margin-right: 23px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 195px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 20px;
    padding-left: 28px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 39px;
    margin-bottom: 15px;
    margin-left: -12px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 434px;
  }

  .u-section-5 .u-shape-2 {
    width: 492px;
  }

  .u-section-5 .u-image-2 {
    width: 492px;
    height: 307px;
    margin-right: 21px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin: 71px auto 0 3px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-5 .u-image-1 {
    background-position: 14.8% 50%;
  }

  .u-section-5 .u-shape-1 {
    width: 13px;
    margin-left: 14px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 213px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 13px;
    padding-left: 18px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin: 20px -5px 20px -7px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 273px;
  }

  .u-section-5 .u-shape-2 {
    height: 266px;
    width: 302px;
  }

  .u-section-5 .u-image-2 {
    width: 308px;
    height: 268px;
    margin-top: -311px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 942px;
}

.u-section-6 .u-group-1 {
  min-height: 222px;
  width: 571px;
  height: auto;
  margin: 43px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 0 0 auto;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 21px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 945px;
  margin: 10px auto 21px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 746px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin-top: 20px;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 746px;
  background-image: url("images/pexels-photo-9698083.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-6 .u-image-1 {
    min-height: 742px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    min-height: 568px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 852px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
    margin-top: -4px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    min-height: 536px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 773px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 88px 0 60px;
}

.u-section-7 .u-image-1 {
  min-height: 625px;
  background-image: url("images/pexels-photo-9821204.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-7 .u-container-layout-2 {
  padding: 26px 0;
}

.u-section-7 .u-group-1 {
  min-height: 222px;
  width: 571px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 1px 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 12px 1px 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  line-height: 28.8px;
  font-weight: 400;
  margin: 38px 112px 0 94px;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 24px 112px 0 94px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-image-1 {
    min-height: 515px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-7 .u-group-1 {
    width: 463px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 76px;
    margin-right: 133px;
    margin-left: 60px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: 132px;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-image-1 {
    background-position: 32.21% 50%;
    min-height: 394px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 21px;
  }

  .u-section-7 .u-group-1 {
    width: 371px;
    margin-right: 1px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 60px;
    margin-left: 48px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 13px;
    margin-left: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 70px;
  }

  .u-section-7 .u-image-1 {
    min-height: 709px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    min-height: 446px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-right: 0;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-3 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 20px;
    margin-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 770px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 73px;
  margin-bottom: 60px;
  width: 1140px;
  left: 0;
  top: 72px;
}

.u-section-8 .u-image-1 {
  min-height: 725px;
  background-image: url("images/pexels-dazzle-jam-2020991.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 89px 0 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 725px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-shape-1 {
  width: 11px;
  height: 293px;
  margin: -2px auto 0 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  line-height: 1.6;
  font-size: 2.25rem;
  margin: -246px 11px 0 30px;
}

.u-section-8 .u-text-2 {
  margin: 87px 30px 0;
}

.u-section-8 .u-shape-2 {
  width: 11px;
  height: 293px;
  margin: -140px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 57px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 618px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 704px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 29px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 75px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -195px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-image-1 {
    min-height: 473px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 683px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 17px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    margin-top: 125px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -244px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1588px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-1 {
    min-height: 686px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 766px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: -53px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -189px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 411px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 757px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: -28px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 272px;
    margin-top: -265px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    margin-top: 77px;
    margin-right: 14px;
    margin-left: 0;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -196px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 778px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: 88px 0 0;
}

.u-section-9 .u-image-1 {
  min-height: 625px;
  background-image: url("images/pexels-photo-9821204.jpeg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-9 .u-container-layout-2 {
  padding: 26px 0;
}

.u-section-9 .u-group-1 {
  min-height: 222px;
  width: 571px;
  height: auto;
  margin: 54px 0 0 auto;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 1px 0 auto;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 12px 1px 0 auto;
}

.u-section-9 .u-text-3 {
  font-size: 1.125rem;
  line-height: 28.8px;
  font-weight: 400;
  margin: 38px 112px 0 94px;
}

.u-section-9 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 24px 112px 0 94px;
}

.u-section-9 .u-shape-1 {
  width: 495px;
  height: 14px;
  margin: 27px 310px 24px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-image-1 {
    min-height: 515px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-9 .u-group-1 {
    width: 463px;
    height: auto;
  }

  .u-section-9 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 76px;
    margin-right: 133px;
    margin-left: 60px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: 132px;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-image-1 {
    background-position: 32.21% 50%;
    min-height: 394px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 21px;
  }

  .u-section-9 .u-group-1 {
    width: 371px;
    margin-right: 1px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 60px;
    margin-left: 48px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 13px;
    margin-left: 48px;
  }

  .u-section-9 .u-shape-1 {
    margin-right: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 70px;
  }

  .u-section-9 .u-image-1 {
    min-height: 709px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 50px;
  }

  .u-section-9 .u-shape-1 {
    margin-right: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    min-height: 446px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-right: 0;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-9 .u-text-3 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-9 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 801px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: 86px 0 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 625px;
}

.u-section-10 .u-container-layout-1 {
  padding: 26px 0;
}

.u-section-10 .u-group-1 {
  min-height: 222px;
  width: 571px;
  height: auto;
  margin-top: 58px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px auto 0 10px;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 11px auto 0 10px;
}

.u-section-10 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 14px;
  height: 124px;
  margin: 23px auto 0 0;
}

.u-section-10 .u-shape-1 {
  width: 124px;
  height: 14px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
}

.u-section-10 .u-text-3 {
  font-size: 1.125rem;
  line-height: 28.8px;
  font-weight: 400;
  margin: -107px 169px 0 37px;
}

.u-section-10 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 169px 0 37px;
}

.u-section-10 .u-image-1 {
  min-height: 625px;
  background-image: url("images/pexels-photo-9821204.jpeg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-10 .u-group-1 {
    width: 548px;
    height: auto;
  }

  .u-section-10 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 89px;
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 89px;
    margin-left: 0;
  }

  .u-section-10 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-10 .u-group-1 {
    min-height: 232px;
    width: 404px;
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-10 .u-rotation-parent-1 {
    margin-top: 44px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: -104px;
    margin-right: 6px;
    margin-left: 20px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 43px;
    margin-right: 22px;
    margin-left: 6px;
  }

  .u-section-10 .u-image-1 {
    background-position: 32.21% 50%;
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1452px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 39px;
    padding-right: 30px;
    padding-bottom: 39px;
  }

  .u-section-10 .u-group-1 {
    margin-top: 1px;
  }

  .u-section-10 .u-text-4 {
    margin: 54px 18px -11px 10px;
  }

  .u-section-10 .u-image-1 {
    min-height: 709px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0;
  }

  .u-section-10 .u-group-1 {
    width: 340px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-image-1 {
    min-height: 446px;
  }
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/a5155271310cc9ce226d212a7c260702.jpeg");
  background-position: 0% 0%;
}

.u-section-11 .u-sheet-1 {
  min-height: 490px;
}

.u-section-11 .u-group-1 {
  width: 679px;
  min-height: 249px;
  margin: 88px 458px 60px 3px;
}

.u-section-11 .u-text-1 {
  margin: 7px 20px 0;
}

.u-section-11 .u-text-2 {
  margin: 8px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-11 .u-group-1 {
    min-height: 263px;
    margin-top: 42px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-text-1 {
    position: relative;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-11 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-11 .u-group-1 {
    min-height: 257px;
    margin-bottom: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-11 .u-group-1 {
    min-height: 319px;
    margin-top: 28px;
    margin-bottom: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-1 {
    margin-top: 12px;
    margin-right: 2px;
    margin-left: 20px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    background-position: 70.54% 0%;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-11 .u-group-1 {
    min-height: 426px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }
}